*{
    margin:0;
    padding: 0;
}
.navbar-brand{
    font-weight: bold;
    padding: 50px;
    font-size: 3em;
    color: #fff;
    font-style: oblique;

}
.navbar-bar{
    padding-left: 100px;
}
.nav-link{
    font-weight: bold;
    color: #fff;
    font-style: oblique;
    transition: transform 0.5s;
}

.nav-link:hover{
    background-color: #3498db;
    transform:translateY(-20%);
    border-radius: 20px;
}
.remove{
    margin: 0;
    padding: 0;
}
.vid-parent{
    position: relative;

}
.remove video{
    height: 100%;
    width: 100%;
}

.why-we-section-start{
    margin-top:200px;
    margin-bottom: 100px;
}
.why-we-section-start h2{
    margin-bottom:100px;
}
.why-we-section-start ul{
    margin-top:80px;
}
.why-we-section-start img{
    border-radius:20px;
    transition:transform 0.5s;
    cursor:pointer;
}
.why-we-section-start img:hover{
  transform:translateY(-20%);
}
.we-not-only-focus{
    margin-top:200px;
}
.we-not-only-focus img{
    border-radius: 20px;
}
.we-not-only-focus .col-sm-4{
    transition:transform 0.5s;
    margin-top:50px;
    margin-bottom: 70px;
}
.we-not-only-focus .col-sm-4:hover{
    cursor:pointer;
    transform:translateY(-20%);
}
